<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AetherWalls</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,200,0,0"
    />
  </head>
  <body>
    <header class="site-header">
      <h1 class="site-title">AetherWalls</h1>
      <div class="header-right">
        <ul class="header-list">
          <li>About</li>
        </ul>
      </div>
    </header>
    <div class="content">
        <div class="slider-container">
      <div class="slider-wrapper swiper-wrapper">
        <div class="slider-item swiper-slide">
          <!--Slider List Items-->
          <div class="slide-content">
            <h3 class="slide-subtitle">Collection 01</h3>
            <h2 class="slide-title">
              Midnight Horizons
            </h2>
            <p class="slide-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui et
              vitae porro dolor delectus officia quasi deserunt architecto omnis
              quibusdam.
            </p>
            <a href="{{ url_for('collection') }}"" class="slide-button"><span>Explore</span></a>
          </div>
        </div>
        <div class="slider-item swiper-slide">
          <div class="slide-content">
            <h3 class="slide-subtitle">Collection 02</h3>
            <h2 class="slide-title">
              Glitch Echoes
            </h2>
            <p class="slide-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui et
              vitae porro dolor delectus officia quasi deserunt architecto omnis
              quibusdam.
            </p>
            <a href="#" class="slide-button"><span>Explore</span></a>
          </div>
        </div>
        <div class="slider-item swiper-slide">
          <div class="slide-content">
            <h3 class="slide-subtitle">Collection 03</h3>
            <h2 class="slide-title">
              Muted Geometry
            </h2>
            <p class="slide-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui et
              vitae porro dolor delectus officia quasi deserunt architecto omnis
              quibusdam.
            </p>
            <a href="#" class="slide-button"><span>Explore</span></a>
          </div>
        </div>
        <div class="slider-item swiper-slide">
          <div class="slide-content">
            <h3 class="slide-subtitle">Collection 04</h3>
            <h2 class="slide-title">
              Nebula Drift
            </h2>
            <p class="slide-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui et
              vitae porro dolor delectus officia quasi deserunt architecto omnis
              quibusdam.
            </p>
            <a href="#" class="slide-button"><span>Explore</span></a>
          </div>
        </div>
        <div class="slider-item swiper-slide">
          <div class="slide-content">
            <h3 class="slide-subtitle">Collection 05</h3>
            <h2 class="slide-title">
              Dream in Monochrome
            </h2>
            <p class="slide-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui et
              vitae porro dolor delectus officia quasi deserunt architecto omnis
              quibusdam.
            </p>
            <a href="#" class="slide-button"><span>Explore</span></a>
          </div>
        </div>
      </div>
      <div class="slider-controls">
        <div class="slider-pagination">
          <div class="slider-indicator"></div>
          <li class="slider-tab">Midnight Horizons</li>
          <li class="slider-tab">Glitch Echoes</li>
          <li class="slider-tab">Muted Geometry</li>
          <li class="slider-tab">Nebula Drift</li>
          <li class="slider-tab">Dream in Monochrome</li>
        </div>
      </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
